/* We have generated some color tokens for you! Feel free to use them in your solution, and adjust them to your liking. */
:root {
  --color-purple-darkest: #17001e;
  --color-purple-darker: #1d1429;
  --color-purple-dark: #261d35;
  --color-purple-mid: #433d57;
  --color-purple-light: #534c67;

  --color-orange: #ffa424;
  --color-orange-dark: #e89b1b;

  --color-white: #ffffff;
  --color-beige: #d8d2cb;
  --color-coral: #ff6f59;
}